ul{
  list-style-type: none;
}

.mydate{
  color: blue;
}

.mymessage{
  color:green;
}

.my-ul{
  /*width: 12em;*/
  /*height: 20em;*/
  height: 400px;
  line-height: 2em;
  padding: 0;
  margin: 0;
  overflow: scroll;
  overflow-x: hidden;
}
